.nav-link {
  margin-left: 40px;
}
#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}
#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 150px;
}
#supportHero input{
  padding: 20px 90px;
  width: 100%;
  border-radius: 10px;
}
